.fixedheight{
    height: 100px;
}
.left-align{
    justify-content: center;
}

.App-logo-b {
    height: 60px;
    pointer-events: none;
    margin-top: 15px;
    alt: "ProjectTechHub";
    
  }
.navhover:hover{
	color: cyan;

	border-bottom: 1px solid white;
}

.text-center{
	text-align: center;
}

@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase
}


.navbar-inverse {
  background-color: #003300
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #002200
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #003300
}

.dropdown-menu {
  background-color: #2cccba
}


.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #002200
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #003300
}



.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #FFCC00
}

.dropdown-menu>li>a {
  color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: #FFFFFF
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

/* header style*/
#header{
	height: 100px;
	opacity: 0.8;
	background-color: white;
	background-size: cover;
	background-attachment: fixed;

	background-attachment: fixed;


}

.horizontal-list li{
	display: inline-block;
	margin: 0px 20px 12px 0px;
	font-weight:100;
	font-size: 0.9rem;


}
.horizontal-list li a{
	font-size: 1.3rem;
	font-weight: bold;
	color: Black;
	text-decoration: none;
	transition: color 0.5s;


}

.pad{
	padding-left: 1rem;
	padding-right: 1rem;
}

.right{
    margin: auto;
    margin-right: 0px;
}


.text-center{
	text-align: center;
}




.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.menu-bg{
  background:aliceblue;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 

@media screen and (max-width: 600px){
  .App-logo-b {
    height: 50px;
    pointer-events: none;
    margin-top: 15px;
    alt: "ProjectTechHub";
    
  }
}
