.social{
    color:rgb(8, 66, 116);
    position:fixed;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    transform: translate(-250px,0);
	z-index: 289639827;


}


.social a{
    color: #fff;
    background:rgba(165, 21, 21, 0.4);
    font-size:20px;
    margin:5px;
    padding:8px;
    text-decoration: none;
    width: 300px;
    text-align:right;
    border-radius: 50px;
    transition:1s;
    transition-property: transform;

}
.bg{
    background-color:aliceblue;
}

.social a:hover{
   
    transform: translate(100px,0);

}

.social i{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size:30px;
    width: 30px;
    height: 30px;
}


.social-icon-container{
	margin-top: 1px;
	margin-bottom: 1px;
}

.social-icon li a i{
	padding: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;

}

.social-icon li a i:hover{
	box-shadow: 0px 0px 6px 4px rgb(16, 231, 203);
	transition-duration: 0.5s;

}

.instagram{
    color: red;
    
}
.facebook{
    color: blue;

}
.twitter{
    color: rgb(12, 157, 214);
}
.git{
color: black;
}
.youtube{
    color: red;
}
.telegram{
    color: rgb(55, 175, 255);
}


/* yha se */

.footer{
    background: url("./footer2.jpg");
    margin:0;
    padding-top:50px;
    box-sizing: border-box;

}
.color{
    color:white;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.container{
    max-width: 80%;
    margin: auto;
}

.footer-logo{
    display: inline-flex;
    height: 60px;
    max-width: 80%;


}
.footer-logo h3{
    margin-top: 18px;
    margin-left: 8px;
}


ul{
    list-style: none;
    padding: 5px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}

.footer-col h4{
    font-size:18px;
    color:white;
    text-transform:capitalize;
    margin-bottom: 30px;
    font-weight:500;
    position: relative;
    
}

.footer-col h4::before{
    content: " ";
    position: absolute;
    left:0;
    bottom:-10px;
    background-color:rgb(212, 79, 224);
    height:2px;
    box-sizing: border-box;
    width:50px;
}

.footer-col ul li{
    margin-bottom: 10px;

}
.footer-col ul li a{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(198, 199, 198);
    display: block;
    font-weight:300;
    transition: all 0.3s ease-out;

}
.footer-col ul li a:hover{
    color:white;
    padding-left:8px;
}


.footer-social-icon a{
    display:inline-block;
    height: 50px;
    width:50px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 60px;
    border-radius:50% ;
    transition:1s;
    transition-property: transform;
}


.footer-social-icon a:hover{
    transition: all 0.5s ease-in-out;
box-shadow: 0px 0px 6px 4px rgb(16, 231, 203);

}

.copyright-footer{
    padding: 7px;
    background-color: rgb(44, 43, 39);
    height: 40px;
    width: 100%;
    text-align: center;

}
.copyright-footer p{

    color: rgb(233, 121, 205)
}



@media (max-width:750px ) {
    .footer-col{
        width: 50%;
        padding: 0 15px;
    
    }

    
}
@media (max-width:560px) {
    .footer-col{
        width: 90%;

    }
   
}



